body {
    background-color: rgb(0, 0, 0);
    font-family: arial;
    font-size: 24px;

}

a {
    color: aqua;
    text-decoration: none;
}

a:hover {
    color:aqua;
}

img {
    max-width: 100%;
}
div.header {
    display: flex;
    flex-wrap: wrap;
    color: aqua;
    background-color: rgba(255, 255, 255, 0.281);
    

}

div.logo {
    padding: 10px;
    width: 50%;
    color: aqua;

}

div.nav {
    padding: 10px;
    width: 50%;
    color: aqua;

}

div.masthead {
   font-size: 30vw;
   line-height: 32vw;
   color: rgba(0, 255, 255, 0.777);
   text-align: right;
   text-shadow: blue;
  
}

div.about.w1-3 {
    font-family: times;
    font-size: 20px;
    color: aqua;
    
}
div.hero.w2-3 {

}

div.footnotes {
display: flex;
flex-wrap: wrap;
border-top: 1px solid rgb(247, 246, 246);
color: aqua;
}

div.note {
    width: 33.333%;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    color: aqua;

}

div.title {
    font-size: 144px;
    font-weight: bold;
    letter-spacing: -5px;
    color: rgb(58, 218, 196);
    text-align: center;
    margin-top: 100px;
}

div.keywords {
    font-size: 72px;
    font-family: times;
    text-align: center;
}

div.container {
display: flex;
flex-wrap: wrap;
align-items: flex-end;
}

div.item {
    width: 33.333%;
    padding: 20px;
}
div.item.pushright {
    margin-right: 25%;
}
div.item.larger {
    width: 50%;
}
div.number {
    font-size: 80px;
}