body {
    background-color: rgb(254, 254, 252);
    font-family: arial;
    font-size: 24px;
}

a {
    color: aqua;
    text-decoration: none;
}

a:hover {
    color: gray;
}

img {
    max-width: 100%;
}
div.header {
    display: flex;
    flex-wrap: wrap;

}

div.logo {
    padding: 10px;
    width: 50%;

}

div.nav {
    padding: 10px;
    width: 50%;

}

div.masthead {
   font-size: 40vw;
   line-height: 32vw;
}

div.about {
    font-family: times;
    font-size: 72px;
}

div.footnotes {
display: flex;
flex-wrap: wrap;
border-top: 1px solid black;
}

div.note {
    width: 33.333%;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;

}

div.title {
    font-size: 144px;
    font-weight: bold;
    letter-spacing: -5px;
    color: rgb(58, 218, 196);
    text-align: center;
    margin-top: 100px;
}

div.keywords {
    font-size: 72px;
    font-family: times;
    text-align: center;
}

div.container {
display: flex;
flex-wrap: wrap;
align-items: flex-end;
}

div.item {
    width: 33.333%;
    padding: 20px;
}
div.item.pushright {
    margin-right: 25%;
}
div.item.larger {
    width: 50%;
}
div.number {
    font-size: 80px;
}