body {
    background-color: rgb(0, 5, 5);
}


div.poster {
    background-color: black;
    width: 100%;
    
}
div.header {
    font-size: 25px;
    color: orange;
    text-align: center;

    
    
    
}

div.container {
    display: flex;
    flex-wrap: wrap;
    outline: 5px dotted orange;
    
}
div.container-2 {
color: aliceblue;
}

div.col {
  overflow: hidden;
  
}

div.w1-3 {
    width: 33.33%;

}
div.w2-3 {
    width: 66.66%;

}
div.w3-3 {
    width: 100%;
}

div.w1-4 {
    width: 25%;
}
div.w2-4 {
    width: 50%;
}
div.w3-4 {
    width: 75%;
}





div.small {
    font-size: 18px;
    text-align: center;
    padding-bottom: 18px;
}

div.text {
    font-size: 120px;
    font-family:arial;
    color: brown;
    transform: 0.5s;

   
}

  /* rule 1 */

div.text.one {
    background:linear-gradient(to right,red,yellow);
}

div.text.two {
   
    background:linear-gradient(to right,green,orange);
   
}

div.text.three {
   
    background: linear-gradient(to left,blue,rgb(255, 0, 242));
    
}

/* rule 2 */

div.text.a {
    font-size: 80px;
    text-align: center;
    
}

div.text.b {
 font-size: 120px;
 text-align: left;
}

div.text.c {
    font-size: 150px;
    text-align: right;
    font-family:'luofonts';
}

/* rule 3 */


div.text.x {
    color: rgb(9, 158, 245);
   
}

div.text.y {
    color: rgb(9, 158, 245);
  
}

div.text.z {
    color: rgb(9, 158, 245);
}