body {
    background-color: rgb(0, 0, 0);
}

div.poster {
    background-color:black;
    width: 75%;
}

@font-face {
    font-family: 'luofonts';
    src:url(PicNic-Regular.woff) format('woff')
}


div.text {
    font-family:arial;
    text-align: left;
    text-transform: uppercase;
    transition:0.5s;
    color: blue;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.col {

}

.w1-2 {
    width: 50%;
}
.w1-3 {
    width: 50%;
}
.w2-3 {
    width: 50%;
}

  /* rule 1 */

div.text.one {
    font-size: 100px;
}
    
div.text.two {
    font-size: 60px;
}

div.text.three {
    font-size: 30px;
   
}

/* rule 2 */

div.text.a {
    color: transparent;
}

div.text.b {
    color: rgba(116, 184, 252, 0.901);
}

div.text.c {
    color: rgba(245, 230, 117, 0.966);
}

/* rule 3 */

div.text.x {
    background-image:url('cloud1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.text.y {
    background-color: rgb(0, 0, 0);
    font-family:'luofonts';
}
div.text.z {
    background-image:url('cloud.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}