body {
    background-color: black;
}


@font-face {
    font-family: 'fonts';
    src: url(FLIPSIDE.woff)format('woff');
}
div.poster {
    background-color: rgb(0, 0, 0);
    width: 100%;
}

div.small {
    font-size: 18px;
    font-family: 'fonts';
    text-align: center;
    padding-bottom: 18px;
    color: rgb(0, 255, 170);
   
}

div.text {
    font-family:'fonts';
    color: white;
    text-align: center;
    text-transform: uppercase;
    transition:0.5s;
    font-size: 80px;
   
}


div.text.one {
    font-weight: bolder;
    color: rgb(0, 255, 170);
    font-size: 120px;
}
