body {
    background-color: rgb(22, 22, 22);
}
@font-face {
    font-family: 'luofonts';
    src:url(Block-Cut.woff)format('woff')
}
div.poster {
    background-color: rgb(254, 253, 253);
    width: 100%;
    border: 5px dashed rgb(97, 97, 96);
  margin-bottom: 20px;
  
}

div.container {
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid rgb(5, 5, 5);
   
}

div.col {
    overflow: hidden;
    border-radius: 100%;
    box-shadow: inset 0px 0px 50px rgb(251, 251, 250) ;

}

div.w1-3 {
    width: 33.33%;

}
div.w2-3 {
    width: 66.66%;

}
div.w3-3 {
    width: 100%;
}

div.w1-2 {
    width: 50%;
}



div.small {
    font-size: 18px;
    text-align: center;
    padding-bottom: 18px;
    color: rgb(251, 119, 59);
    
    
}

div.text {
    font-size: 120px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 80px;
    border-radius: 120%;
    transform: 0.5s;
    text-align: center;
   
    
    
   
}

  /* rule 1 */

div.text.one {
   
    background-color: rgba(117, 224, 149, 0.815);
    
}

div.text.two {
   
    background-color: rgba(129, 159, 241, 0.815);

}

div.text.three {
   
    background-color: rgba(163, 129, 241, 0.815);
    
}


/* rule 2 */

div.text.a {
    

  
  font-family:Arial, Helvetica, sans-serif ;
 
}

div.text.b {

 
  
}

div.text.c {
    
    font-family:'luofonts':
}

/* rule 3 */

div.text.x {
    color: beige;
   
   
    
}
div.text.y {
    color: rgb(248, 213, 99);
  
}
div.text.z {
    color: blue;
    box-shadow: inset 0px 0px 50px rgb(55, 55, 55) ;

}
    
