body {
    background-color: rgb(0, 5, 5);
}

div.poster {
    background-color: rgb(176, 201, 230);
    width: 75%;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid orange;
}

div.col {
  overflow: hidden;
  
}

div.w1-3 {
    width: 33.33%;

}
div.w2-3 {
    width: 66.66%;

}
div.w3-3 {
    width: 100%;
}

div.w1-2 {
    width: 50%;
}



div.small {
    font-size: 18px;
    text-align: center;
    padding-bottom: 18px;
}

div.text {
    font-size: 120px;
    font-family:arial;
    color: brown;
    transform: 0.5s;
   
}

  /* rule 1 */

div.text.one {
   
    background-color: rgba(255, 127, 80, 0.815);
}

div.text.two {
   
    background-color: rgba(101, 222, 231, 0.829);
}

div.text.three {
   
    background-color: rgba(0, 100, 0, 0.315);
}

/* rule 2 */

div.text.a {
    font-size: 30px;
}

div.text.b {
 font-size: 80px;
}

div.text.c {
    font-size: 120px;
}

/* rule 3 */

div.text.x {
    color: beige;
}
div.text.y {
    color: rgb(248, 213, 99);
}
div.text.z {
    color: blue;
}